/* Paleta de cores: */

:root {
  --color1: #FCAE4A;
  --color2: #EA5454;
  --color3: #44D3D2;
  --color4: #549EF2;
  --color5: #4D4F62;

  --font1: 'Fraunces', serif;
  --font2: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: var(--color5);
  font-family: var(--font2);
  font-weight: bold;
}

a:hover {
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #FCAE4A;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: var(--font1);
  color: var(--color2);
}

.material-symbols-outlined {
  font-size: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-family: var(--font2);
  color: var(--color2);
  text-align: center;
  padding: 1rem;
}

h3 {
  color: var(--color3);
  text-align: center;
  padding-bottom: 1rem;
}

article {
  color: var(--color3);
  font-family: var(--font1);
  width: 30%;
  text-align: center;
}

.beneficios {
  display: flex;
  gap: 1rem;
}

main {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

figure {
  margin: 0;
  padding: 0;
  width: 60%;
}

img {
  width: 100%;
}

footer {
  width: 100%;
  background-color: #549EF2;
  padding: 1rem;
  text-align: center;
  font-family: var(--font2);
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  main {
    width: 90%;
  }

  figure {
    width: 90%;
  }

  .beneficios {
    flex-direction: column;
  }

  article {
    width: 100%;
  }
}


